<!-- ============================================================================================
                                              Routing 
===============================================================================================-->
<p class="box">router link</p>
<ul class="navabe">
  <li class="navbar-list">
    <a [routerLink]="['/component1']" class="navbar-link">HOME</a>
  </li>
  <li class="navbar-list">
    <a [routerLink]="['/componetn2']" class="navbar-link">ABOUT US</a>
  </li>
  <li class="navbar-list">
    <a [routerLink]="['/component3']" class="navbar-link">CO NTACT</a>
  </li>
  <li class="navbar-list">
    <a [routerLink]="['/component4']" class="navbar-link">ABOUT US</a>
  </li>
  <li class="navbar-list">
    <a [routerLink]="['/component5']" class="navbar-link">Nasted FormArray</a>
  </li>
  <li class="navbar-list">
    <a [routerLink]="['/component6']" class="navbar-link">Radio btn chbox</a>
  </li>
  <li class="navbar-list">
    <a [routerLink]="['/component7']" class="navbar-link">link 7</a>
  </li>
  <li class="navbar-list">
    <a [routerLink]="['/component8']" class="navbar-link">Forms</a>
  </li>
  <li class="navbar-list">
    <a [routerLink]="['/component9']" class="navbar-link">link 9</a>
  </li>
  <li class="navbar-list">
    <a [routerLink]="['/loadingcompo']" class="navbar-link">loading compo</a>
  </li>
  <li class="navbar-list">
    <a [routerLink]="['/httpclientcompo']" class="navbar-link">http client</a>
  </li>
</ul>
<!-- =========================================================================
                              Condition Based Router
========================================================================== -->
<!-- <button (click)="function1()">click me</button>
<button (click)="function2()">click me</button> -->

<router-outlet></router-outlet>


<!-- ==========================================================================
                          app component header
=========================================================================== -->
<!-- <h4 class="bg-success p-2 m-1 mt-5 text-center border border-3 border-warning">app component</h4> -->



<!-- =============================================================================
                            Component Loading Bar
============================================================================== -->
<ngx-loading-bar [height]="'5px'" [color]="'green'" [diameter]="'40px'"></ngx-loading-bar>



<!-- ============================================================================================
                        Observable & Subscribe With In Memory Web API 
============================================================================================== -->
<!-- <table class="w-50">
  <tr>
    <th colspan="5">Table 1 Observable & Subscribe With In Memory Web API</th>
  </tr>
  <tr>
    <th>ID</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Class</th>
    <th>Age</th>
  </tr>
  <tr *ngFor="let studentDetails of studentsw">
    <td><b>{{studentDetails.id}}</b></td>
    <td><b>{{studentDetails.firstName}}</b></td>
    <td><b>{{studentDetails.lastName}}</b></td>
    <td><b>{{studentDetails.class}}</b></td>
    <td><b>{{studentDetails.age}}</b></td>
  </tr>
</table> -->

<!-- ============================================================================================
                        Observable & Subscribe With In Memory Web API 2
============================================================================================== -->
<!-- <table class="w-50">
  <tr>
    <th colspan="5">Table 2 Observable & Subscribe With In Memory Web API 2</th>
  </tr>
  <tr>
    <th>ID</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Class</th>
    <th>Age</th>
  </tr>
  <tr *ngFor="let students of studentsw2">
    <td>{{students.id}}</td>
    <td>{{students.firstname}}</td>
    <td>{{students.lastname}}</td>
    <td>{{students.class}}</td>
    <td>{{students.age}}</td>
  </tr>
</table> -->



<!-- ============================================================================================
                                Observable & Async pipe With ngfor
============================================================================================== -->
<!-- <table class="w-50">
  <tr>
    <th colspan="5">Table 3 Observable & Async pipe With ngfor</th>
  </tr>
  <tr>
    <th>ID</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Class</th>
    <th>Age</th>
  </tr>
  <tr *ngFor="let students2 of studentsw3 | async">
    <td>{{students2.id}}</td>
    <td>{{students2.firstname}}</td>
    <td>{{students2.lastname}}</td>
    <td>{{students2.class}}</td>
    <td>{{students2.age}}</td>
  </tr>
</table> -->



<!-- ============================================================================================
                                Observable & Async pipe With ngif
============================================================================================== -->

<!-- <table class="w-50">
  <tr>
    <th colspan="5">Table 4 Observable & Async pipe With ngif</th>
  </tr>
  <tr>
    <th>ID</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Class</th>
    <th>Age</th>
  </tr>
  <tr *ngFor="let students3 of studentsw3 | async">
    <td>{{students3.id}}</td>
    <td>{{students3.firstname}}</td>
    <td>{{students3.lastname}}</td>
    <td>{{students3.class}}</td>
    <td>{{students3.age}}</td>
  </tr>
</table> -->

<!-- <ng-template #loading> -->
  <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
<!-- <div class="text-center">
    <img src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca_w200.gif" class="loder-img" alt="">
  </div>
</ng-template>

<div *ngIf="studentsw4 | async as students3; else loading">
  <table class="w-50">
    <tr>
      <th>ID</th>
      <th>FirstNmae</th>
      <th>LastName</th>
      <th>Class</th>
      <th>Age</th>
    </tr>
    <tr>
      <td>{{students3.id}}</td>
      <td>{{students3.firstname}}</td>
      <td>{{students3.lastname}}</td>
      <td>{{students3.class}}</td>
      <td>{{students3.age}}</td>
    </tr>
  </table>
</div>


<app-loading-with-http-interceptor></app-loading-with-http-interceptor> -->



<!-- ========================================================================================
                                      Observable pipe map
========================================================================================= -->
<!-- ============================================================
      odservable pipe method, map method with async pipe 
============================================================= -->
<!-- <div *ngIf="studentsw5 | async as students" class="bg-primary p-1 text-center">
  {{ students }}
</div> -->


<!-- ===========================================================
       Observable pipe method map method with subscribe
============================================================= -->
<!-- <div *ngIf="studentsw6" class="bg-primary p-1 m-1 text-center">
  {{ studentsw6 }}
</div>
<div class="bg-success p-1 m-1 text-center">
  {{studentsw6}}
</div> -->

<!-- ============================================================
      odservable pipe method, map method with async pipe 
============================================================= -->
<!-- <div *ngIf="haxBooks | async as bookname;" class="bg-primary p-1 text-center">
  {{bookname}}
</div> -->
