<!--===============================================================================================================
                                                 Template Drive Form 1
================================================================================================================-->
<div class="row mx-2">
<!--<div class="w-50 forms my-3">
        <div class="header">Templte Driven Forms</div>
        <form #form1="ngForm" (ngSubmit)="function1(form1)">
            <p>First Name:- <input type="text" class="form-control" placeholder="enter first name" name="fname1"
                    ngModel></p>
            <p>Last Name:- <input type="text" class="form-control" placeholder="enter last name" name="lname1" ngModel>
            </p>
            <p>Number:- <input type="text" class="form-control" placeholder="enter phno" name="phno1" ngModel></p>
            <p>Email:- <input type="text" class="form-control" placeholder="enter email" name="email1" ngModel></p>
            <input type="submit" class="w-100 btn btn-info">
        </form>
    </div> -->


    <!--===============================================================================================================
                                                 Template Drive Form 2
    ================================================================================================================-->
    <!-- <div class="w-50 forms my-3">
        <div class="header">Templte Driven Forms</div>
        <form #form2="ngForm" (ngSubmit)="function2(form2)">
            <p>First Name:- <input type="text" class="form-control" placeholder="enter first name" name="fname2"
                    ngModel></p>
            <p>Last Name:- <input type="text" class="form-control" placeholder="enter last name" name="lname2" ngModel>
            </p>
            <p>Number:- <input type="text" class="form-control" placeholder="enter phno" name="phno2" ngModel></p>
            <p>Email:- <input type="text" class="form-control" placeholder="enter email" name="email2" ngModel></p>
            <input type="submit" class="w-100 btn btn-info">
        </form>
    </div> -->
</div>
<div class="row mx-2">
    <!--===============================================================================================================
                                                 Template Drive Form With Validators 1
    ================================================================================================================-->
    <!-- <div class="w-50 forms my-3">
        <div class="header">Templte Driven Forms With Validation 1</div>
        <form #form3="ngForm" (ngSubmit)="function3(form3)">
            <p>First name:- <input type="text" class="form-control validinput1" placeholder="enter first name"
                    name="fname3" required ngModel></p>
            <p>Last name:- <input type="text" class="form-control validinput1" placeholder="enter last name"
                    name="lname3" required ngModel></p>
            <p>Number:- <input type="text" class="form-control validinput1" placeholder="enter phno" name="phno3"
                    required ngModel></p>
            <p>Emaik:- <input type="text" class="form-control validinput1" placeholder="enter email" name="email3"
                    required ngModel></p>
            <input type="submit" class="w-100 btn btn-info">
        </form>
    </div> -->



    <!--===============================================================================================================
                                                 Template Drive Form With Validators 2
    ================================================================================================================-->
    <!-- <div class="w-50 forms my-3">
        <div class="header">Templte Driven Forms With Validation 2</div>
        <form #form4="ngForm" (ngSubmit)="function4(form4)">
            <p>First name:- <input type="text" class="form-control validinput2" placeholder="enter first name"
                    name="fname4" required ngModel></p>
            <p>Last name:- <input type="text" class="form-control validinput2" placeholder="enter last name"
                    name="lname4" required ngModel></p>
            <p>Number:- <input type="text" class="form-control validinput2" placeholder="enter phno" name="phno4"
                    required ngModel></p>
            <p>Email:- <input type="text" class="form-control validinput2" placeholder="enter email" name="email4"
                    required ngModel></p>
            <input type="submit" class="w-100 btn btn-info" [disabled]="!form4.valid">
        </form>
    </div> -->
</div>
<div class="row mx-2">

    <!--===============================================================================================================
                                                 Template Drive Form With Validators 3
    ================================================================================================================-->
    <!-- <div class="w-50 forms my-3">
        <div class="header">Templte Driven Forms With Validation 3</div>
        <form #form5="ngForm" (ngSubmit)="function5(form5)">
            <p>First name:- <input type="text" class="form-control validinput3" placeholder="enter first name"
                    name="fname5" required ngModel fname #firname="ngModel"></p>
            <span *ngIf="firname.touched && firname.invalid" style="color: red; font-weight: bold;">plese enter first
                name</span>
            <p>Last name:- <input type="text" class="form-control validinput3" placeholder="enter last name"
                    name="lname5" required ngModel lname #lasname="ngModel"></p>
            <span *ngIf="lasname.touched && lasname.invalid" style="color: red; font-weight: bold;">plese enter last
                name</span>
            <p>Number:- <input type="text" class="form-control validinput3" placeholder="enter phno" name="phno5"
                    required ngModel phno #phono="ngModel"></p>
            <span *ngIf="phono.touched && phono.invalid" style="color: red; font-weight: bold;">plese enter mobile
                number</span>
            <p>Email:- <input type="text" class="form-control validinput3" placeholder="enter email" name="email5"
                    required ngModel email #emailad="ngModel"></p>
            <span *ngIf="emailad.touched && emailad.invalid" style="color: red; font-weight: bold;">plese enter
                email</span>
            <input type="submit" class="w-100 btn btn-info" [disabled]="!form5.valid">
        </form>
    </div> -->
</div>
<div class="row mx-2">

    <!--===============================================================================================================
                                                 Reactive Form 1 (Model Driven Form)
    ================================================================================================================-->
    <!-- <div class="w-50 forms my-3">
        <div class="header">Reactive Forms</div>
        <form [formGroup]="singupForm1" (ngSubmit)="postdata1(singupForm1)">
            <p>First name:- <input type="text" class="form-control" formControlName="fname5"
                    placeholder="enter first name"></p>
            <p>Last name:- <input type="text" class="form-control" formControlName="lname5"
                    placeholder="enter last name"></p>
            <p>Phono:- <input type="text" class="form-control" formControlName="phno5" placeholder="enter phno"></p>
            <p>Email:- <input type="text" class="form-control" formControlName="email5" placeholder="enter email"></p>
            <input type="submit" class="w-100 btn btn-info" value="post data">
        </form>
    </div> -->



    <!--===============================================================================================================
                                                 Reactive Form 2 (Model Driven Form)
    ================================================================================================================-->
    <!-- <div class="w-50 forms my-3">
        <div class="header">Reactive Forms With Validation</div>
        <form [formGroup]="signupform2" (ngSubmit)="postdata2(signupform2)">
            <p>First name:- <input type="text" class="form-control" formControlName="fname6"
                    placeholder="enter first name" required></p>
            <p>Last name:- <input type="text" class="form-control" formControlName="lname6"
                    placeholder="enter last name" required></p>
            <p>Email:- <input type="text" class="form-control" formControlName="email6" placeholder="enter email"
                    required></p>
            <p>Phno:- <input type="text" class="form-control" formControlName="phno6" placeholder="enter phno" required>
            </p>
            <input type="submit" class="w-100 btn btn-info" [disabled]="signupform2.invalid">
        </form>
    </div> -->
</div>
<div class="row mx-2">

    <!--===============================================================================================================
                                                 Reactive Form 3 With Validators (Model Driven Form)
    ================================================================================================================-->
    <!-- <div class="w-50 forms my-3">
        <div class="header">Reactive Forms</div>
        <form [formGroup]="signupform3" (ngSubmit)="postdata3(signupform3)">
            <p>First name:- <input type="text" class="form-control inputbox4" formControlName="fname7"
                    placeholder="enter first name"></p> -->
            <!-- <span *ngFor="signupform3.control['fname7'].haserror(required)">plese enter first name</span> -->
            <!-- <p>Last name:- <input type="text" class="form-control inputbox4" formControlName="lname7"
                    placeholder="enter last name"></p>
            <p>Email:- <input type="text" class="form-control inputbox4" formControlName="email7"
                    placeholder="enter email"></p>
            <p>Password:- <input type="password" class="form-control inputbox4" formControlName="password7"
                    placeholder="enter password"></p>
            <input type="submit" class="w-100 btn btn-info" [disabled]="signupform3.invalid">
        </form>
    </div> -->


    <!--===============================================================================================================
                                Getvalue() And Reset() With Reactive Form 4 (Model Driven Form)
    ================================================================================================================-->
    <!-- <div class="w-50 forms my-3">
        <div class="header">getvalue() and reset()</div>
        <form [formGroup]="signupform4">
            <p>First name:- <input type="text" class="form-control inputbox5" formControlName="fname8"
                    placeholder="enter first name"></p>
            <p>Last name:- <input type="text" class="form-control inputbox5" formControlName="lname8"
                    placeholder="enter last name"></p>
            <p>Email:- <input type="text" class="form-control inputbox5" formControlName="email8"
                    placeholder="enter email"></p>
            <p>Password:- <input type="password" class="form-control inputbox5" formControlName="password8"
                    placeholder="enter password"></p>
            <button class="w-50 btn btn-info" [disabled]="signupform4.invalid" (click)="postdata4(signupform4)">get
                data</button>
            <button class="w-50 btn btn-info" [disabled]="signupform4.invalid" (click)="resetfunction1()">reset</button>
            <button class="w-50 btn btn-info" (click)="postdata5()">get data 2</button>
            <button class="w-50 btn btn-info" (click)="resetfunction2()">reset2</button>
        </form>
    </div> -->
</div>
<div class="row mx-2">

    <!--===============================================================================================================
                            Setvalue() and Patchvalue() With Reactive Form 5 (Model Driven Form)
    ================================================================================================================-->
    <!-- <div class="w-50 forms my-3">
        <div class="header">Setvalue() And Patchvalue()</div>
        <form [formGroup]="signupform5">
            <p>First name:- <input type="text" class="form-control" formControlName="fname9"
                    placeholder="enter first name"></p>
            <p>Last name:- <input type="text" class="form-control" formControlName="lname9"
                    placeholder="enter last name"></p>
            <p>Email:- <input type="text" class="form-control" formControlName="email9" placeholder="enter email"></p>
            <p>Password:- <input type="password" class="form-control" formControlName="password9"
                    placeholder="enter password"></p>
            <button class="w-50 btn btn-info" (click)="postdata6(signupform5)" [disabled]="signupform5.invalid">submit
                btn</button>
            <button class="w-50 btn btn-info" (click)="setvaluefunction1()">set value</button>
            <button class="w-100 btn btn-info" (click)="patchvaluefunction2()">patch value</button>
        </form>
    </div> -->



    <!--===============================================================================================================
                        ValueChanges() And StatusChanges() with Reactive Form 6 (Model Driven Form)
    ================================================================================================================-->
    <!-- <div class="w-50 forms my-3">
        <div class="header">value changes() and atatus changes()</div>
        <form [formGroup]="signupform6">
            <p>First name:- <input type="text" class="form-control inputbox6" formControlName="fname10"
                    placeholder="enter first name"></p>
            <p>Last name:- <input type="text" class="form-control inputbox6" formControlName="lname10"
                    placeholder="enter last name"></p>
            <p>Email:- <input type="text" class="form-control inputbox6" formControlName="email10"
                    placeholder="enter email"></p>
            <p>Password:- <input type="password" class="form-control inputbox6" formControlName="password10"
                    placeholder="enter password"></p>
            <button class="w-100 btn btn-info" (click)="postdata7(signupform6)">submit</button>
        </form>
    </div> -->
</div>
<div class="row mx-2">

    <!--===============================================================================================================
                                Nasted Form Array With Reactive Form 1 (Model Driven Form)
    ================================================================================================================-->
    <!-- <div class="w-50 forms my-3">
        <div class="header">nested FormArray</div>
        <form [formGroup]="nform1" (ngSubmit)="submitevent1()">
            <div formArrayName="contactno1">
                <div *ngFor="let contact1 of nform1.controls.contactno1.controls; index as i">
                    <input [formControlName]="i" class="form-control my-1" placeholder="enter contact no">
                </div>
            </div>
            <button class="w-100 btn btn-info">submit</button>
        </form>
        <button class="w-100 btn btn-info" (click)="addcontrols1()">add control</button>
    </div> -->



    <!--===============================================================================================================
                                add rows dynamically With Reactive Form (Model Driven Form)
    ================================================================================================================-->
    <!-- <div class="w-50 forms my-3">
        <div class="header">add new row dynamiclly</div>
        <form novalidate [formGroup]="Formgroup1">
            <div class="row">
                <div class="col-xl-12 form-group marl40">
                    <div style="margin-top:0px;" formGroupName="itemsRows">
                        <ng-container *ngIf="getControls()!=null">
                            <div *ngFor="let itemrow of getControls(); let i=index" [formGroupName]="i">
                                <div class="row">
                                    <div class="col-md-2 form-group">
                                        <input type="text" matInput formControlName="fname11" class="inputbox7">
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <input type="text" matInput formControlName="lname11" class="inputbox7">
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <input type="text" matInput formControlName="email11" class="inputbox7">
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <input type="password" matInput formControlName="password11" class="inputbox7">
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <button (click)="deleteRow(i)" class="bnt btn-denger rounded-circle">X</button>
                                    </div> 
                                </div>
                            </div>
                        </ng-container>
                        <div class="form-group">
                            <button type="button" (click)="addnewRow1()"  class="btn btn-info">add more</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div> -->



    <!--=========================================================================================================
                            Reactive form Add new Dynamic Multiple row FormControl
    ==========================================================================================================-->
<!-- <section class="container mt-5">
  <form novalidate [formGroup]="HareshFormGroup">
    <div class="row">
      <div class="col-lg-12 form-group">
        <div formGroupName="itemRows">
          <h3 class="form-title">Form Detail</h3><br>

          <ng-container *ngIf="getControls() != null">
            <div *ngFor="let itemrow of getControls(); let i = index;" [formGroupName]="i">
              <div class="row"> -->
<!-------- Name -------->
<!-- <div class="col">
                  <input placeholder="Name" formControlName="Name" class="form-control">
                </div> -->
<!-------- RollNo -------->
<!-- <div class="col">
                  <input placeholder="RollNo" formControlName="RollNo" class="form-control" required>
                </div> -->
<!-------- Class -------->
<!-- <div class="col">
                  <input placeholder="Class" formControlName="Class" class="form-control" required>
                </div> -->
<!-------- MobileNo -------->
<!-- <div class="col">
                  <input placeholder="MobileNo" formControlName="MobileNo" class="form-control" required>
                </div> -->
<!-------- deleteRow Button -------->
<!-- <div class="col form-group text-center bg-light">
                  <button class="btn btn-danger rounded-circle" (click)="deleteRow(i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div><br>
            </div>
          </ng-container> -->

<!-------- addNewRow Button -------->
<!-- <div class="form-group text-right">
            <button type="button" class="btn btn-primary" (click)="addNewRow()" [disabled]="HareshFormGroup.invalid">
              Add More
            </button>
          </div>

        </div>
      </div>
    </div>
  </form>
</section> -->






</div>
<div class="example-button-row">
    <button mat-mini-fab matTooltip="Primary" color="primary" aria-label="Example mini fab with a heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Accent" color="accent" aria-label="Example mini fab with a heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Warn" color="warn" aria-label="Example mini fab with a heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <div matTooltip="Disabled" class="example">
        <button mat-mini-fab aria-label="Example mini fab with a heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
    </div>
    <a mat-mini-fab matTooltip="Link" routerLink="." aria-label="Example mini fab with a heart icon">
        <mat-icon>favorite</mat-icon>
      </a>
</div>
<div class="example-button-row text-center my-2">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button>Disabled</button>
    <a mat-raised-button>Link</a>
</div>
<div class="text-center">
    <mat-form-field class="example-form-field">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" [(ngModel)]="value">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
    </mat-form-field>
</div>