header {
    background-color: bisque;
    padding: 10px;
    text-align: center;
}
div {
    background-color: orange;
    padding: 5px;
}
footer {
    background-color: aqua;
    padding: 10px;
    text-align: center;
}